<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: "Open Sans"; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddedLocationDetails</title>
    <h1 style='text-align: center; font-size: 60px;'>Search19</h1>
</head>
<body>
    <h2>Location details added to the database! </h2>
    <p> Total Value locked- {{ anchors['Total Value locked'] }}</p>
    <p> Total Yield reserve - {{ anchors['total Yield reserve'] }}</p>
    <p> Total Collateral - {{ anchors['Total Collateral'] }}</p>
    <p> Total Deposit - {{ anchors['Total Deposit'] }}</p>
    <p> ANC Price (UST) - {{anchors['ANC Price (UST)']}} </p>
    <p> ANC Buyback (72HR)(UST) - {{anchors['ANC Buyback (72HR)(UST)']}} </p>
    <p> ANC Buyback (12 Month) (UST) - {{ anchors['ANC Buyback (12 Month) (UST)']}} </p>
    <p> Total Deposit - {{ anchors['Total Deposit'] }}</p>
    <p> Deposit APY - {{ anchors['Deposit APY'] }}</p>
    <p> Total Borrow - {{ anchors['Total Borrow'] }}</p>
    <p> Borrow APR - {{anchors['Borrow APR']}} </p>
    <p> Bonded Luna Collateral - {{anchors['Bonded Luna Collateral']}} </p>
    <p> Bonded Luna Total Collateral Value - {{ anchors['Bonded Luna Total Collateral Value']}} </p>
    <p> Bonded Ether Price - {{ anchors['Bonded Ether Price']}} </p>
    <p>Bonded Ether Collateral - {{anchors['Bonded Ether Collateral']}} </p>
    <p> Bonded Ether Total Collateral Value - {{ anchors['Bonded Ether Total Collateral Value']}} </p>
    <button onclick="">Add Location Details</button>
    <button onclick="location.href= '/'">Back to home page</button>
</body>
</html>